%tr{:class => "puppet_log puppet_log_level_#{log.level}"}
  %td.level
    %code= h log.level
  %td
    %code= h log.message
  %td
    %code= h log.source
  %td{:style => 'width:7em;'}
    %code log.time
    -# TODO why don't some objects #to_s accept arguments?
    -# %code= log.time.to_s(:short)
